.form__fieldset {
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.form__legend {
    color: #fff;
    background-color: #133246;
    padding: 10px 20px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
}

.form__clockContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.form__clockElement {
    font-family: monospace;
    font-size: 12px;
    margin: 0 0 24px 0;
}

.form__inputLabel {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media (max-width:480px) {
    .form__inputLabel {
        flex-direction: column;
    }
}

.form__inputLabelText {
    min-width: 100px;
}

.form__input {
    width: 150px;
    text-align: center;
    border-radius: 5px;
    height: 24px;
}

.form__list {
    list-style: none;
    line-height: 1.75;
    padding-left: 0;
}

.form__listItem {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 480px) {
    .form__listItem {
        flex-direction: column;
        align-items: center;
    }
}

.form__listLabel {
    width: 175px;
    display: inline-block;
    margin: 0 5px;
}

.form__listInputContainer {
    min-width: 220px;
}

.form__result {
    max-width: 300px;
    text-align: center;
}

.form__annotation {
    font-size: 12px;
    text-align: right;
}