.list {
    list-style: none;
    line-height: 1.75;
}

.list__item {
    display: flex;
}

@media (max-width: 480px) {
    .list__item {
        flex-direction: column;
        align-items: center;
    }
}

.list__inputContainer {
    min-width: 220px;
}

.list__label {
    width: 175px;
    display: inline-block;
    margin: 0 5px;
}

.list__input {
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.list__buttonContainer {
    display: inline-block;
    width: 100%;
}

.list__inputContainer {
    display: block;
}